.table {
    thead {
        tr {
            th {
                text-align: center;
            }
        }
    }
    tbody {
        tr {
            text-align: center;
            img {
                width: 150px;
            }
        }
    }
}
